
#top {
    position: relative;
    color: white;
}

#contenido{
    display: flex;
}
aside {
    width: 19%;
    padding: 1%;
    background-color: #6587a5;
}
main{
    width: 79%;
    padding: 1%;
    background-color: #e8e8e8;
}